In [1]:
import requests
import numpy as np
import pandas as pd
from datetime import datetime
from datetime import timezone
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')
from google.cloud import bigquery
client = bigquery.Client()

In [2]:
sql="""  SELECT
    TIMESTAMP_TRUNC(date,
      DAY) AS date,
    year,
    COUNT(1) AS incidents
  FROM
    `bigquery-public-data.chicago_crime.crime`
  WHERE
    primary_type IN ('BATTERY',
      'ASSAULT')
    AND year BETWEEN 2014
    AND 2016
  GROUP BY
    date,
    year"""

df = client.query(sql).to_dataframe()
df.head()

                       date  year  incidents
0 2014-08-31 00:00:00+00:00  2014        257
1 2014-06-07 00:00:00+00:00  2014        259
2 2014-07-13 00:00:00+00:00  2014        259
3 2014-05-25 00:00:00+00:00  2014        260
4 2014-08-03 00:00:00+00:00  2014        261

In [4]:
df['date']=pd.to_datetime(df['date'])
df.head()

                       date  year  incidents
0 2014-08-31 00:00:00+00:00  2014        257
1 2014-06-07 00:00:00+00:00  2014        259
2 2014-07-13 00:00:00+00:00  2014        259
3 2014-05-25 00:00:00+00:00  2014        260
4 2014-08-03 00:00:00+00:00  2014        261

In [5]:
sql="""SELECT
    TIMESTAMP_TRUNC(TIMESTAMP(CONCAT(year, '-', mo, '-', da)),
      DAY) AS date,
    year,
    PERCENT_RANK() OVER (PARTITION BY year ORDER BY AVG(temp)) AS rank,
    AVG(temp) AS temperature
  FROM
    `bigquery-public-data.noaa_gsod.gsod*` AS w
  JOIN
    `bigquery-public-data.noaa_gsod.stations` AS s
  ON
    w.stn = s.usaf
    AND s.name = "CHICAGO O'HARE INTERNATIONAL"
  WHERE
    w._TABLE_SUFFIX BETWEEN '2014'
    AND '2016'
  GROUP BY
    date,
    year"""

weather_df = client.query(sql).to_dataframe()
weather_df.head()

                       date  year      rank  temperature
0 2014-01-06 00:00:00+00:00  2014  0.000000         -7.7
1 2014-01-07 00:00:00+00:00  2014  0.002747         -7.3
2 2014-01-28 00:00:00+00:00  2014  0.005495         -5.2
3 2014-02-07 00:00:00+00:00  2014  0.008242          2.3
4 2014-01-08 00:00:00+00:00  2014  0.010989          2.7

In [6]:
merged_data = pd.merge(df, weather_df, left_on='date', right_on='date')
merged_data

,date,year_x,incidents,year_y,rank,temperature
0,2014-08-31 00:00:00+00:00,2014,257,2014,0.945055,76.2
1,2014-06-07 00:00:00+00:00,2014,259,2014,0.829670,71.1
2,2014-07-13 00:00:00+00:00,2014,259,2014,0.931319,75.8
3,2014-05-25 00:00:00+00:00,2014,260,2014,0.725275,66.2
4,2014-08-03 00:00:00+00:00,2014,261,2014,0.925824,75.4
5,2014-05-11 00:00:00+00:00,2014,261,2014,0.752747,67.2
6,2014-01-01 00:00:00+00:00,2014,263,2014,0.085165,15.8
7,2014-09-28 00:00:00+00:00,2014,264,2014,0.686813,64.9
8,2014-07-05 00:00:00+00:00,2014,264,2014,0.791209,69.2
9,2014-07-06 00:00:00+00:00,2014,266,2014,0.881868,73.0
10,2014-05-18 00:00:00+00:00,2014,268,2014,0.590659,56.4
11,2014-08-09 00:00:00+00:00,2014,271,2014,0.884615,73.5
12,2014-06-15 00:00:00+00:00,2014,274,2014,0.846154,71.6
13,2014-06-01 00:00:00+00:00,2014,288,2014,0.925824,75.4
14,2014-06-29 00:00:00+00:00,2014,299,2014,0.969780,77.4
15,2014-01-06 00:00:00+00:00,2014,79,2014,0.000000,-7.7
16,2014-01-07 00:00:00+00:00,2014,92,2014,0.002747,-7.3
17,2014-02-12 00:00:00+00:00,2014,101,2014,0.041209,7.7
18,2014-01-02 00:00:00+00:00,2014,103,2014,0.104396,18.6
19,2014-01-28 00:00:00+00:00,2014,104,2014,0.005495,-5.2
20,2014-01-03 00:00:00+00:00,2014,110,2014,0.019231,4.3
21,2014-12-22 00:00:00+00:00,2014,112,2014,0.282967,33.5
22,2014-01-24 00:00:00+00:00,2014,112,2014,0.024725,5.3
23,2014-01-27 00:00:00+00:00,2014,116,2014,0.021978,4.8
24,2014-12-30 00:00:00+00:00,2014,117,2014,0.090659,17.1
25,2014-01-05 00:00:00+00:00,2014,118,2014,0.123626,20.9
26,2014-01-08 00:00:00+00:00,2014,118,2014,0.010989,2.7
27,2014-01-21 00:00:00+00:00,2014,121,2014,0.054945,10.4
28,2014-01-09 00:00:00+00:00,2014,121,2014,0.046703,7.9
29,2014-12-23 00:00:00+00:00,2014,121,2014,0.412088,43.7
...,...,...,...,...,...,...
1066,2016-04-16 00:00:00+00:00,2016,230,2016,0.550685,57.6
1067,2016-11-05 00:00:00+00:00,2016,231,2016,0.512329,54.7
1068,2016-05-24 00:00:00+00:00,2016,232,2016,0.783562,71.9
1069,2016-06-14 00:00:00+00:00,2016,236,2016,0.832877,74.1
1070,2016-08-07 00:00:00+00:00,2016,236,2016,0.849315,74.7
1071,2016-06-03 00:00:00+00:00,2016,237,2016,0.728767,70.1
1072,2016-08-27 00:00:00+00:00,2016,237,2016,0.819178,73.6
1073,2016-09-17 00:00:00+00:00,2016,238,2016,0.827397,73.9
1074,2016-08-29 00:00:00+00:00,2016,238,2016,0.873973,75.7
1075,2016-05-22 00:00:00+00:00,2016,238,2016,0.657534,66.2
1076,2016-10-29 00:00:00+00:00,2016,238,2016,0.646575,65.8
1077,2016-06-21 00:00:00+00:00,2016,239,2016,0.865753,75.5
1078,2016-09-05 00:00:00+00:00,2016,239,2016,0.813699,73.2
1079,2016-04-24 00:00:00+00:00,2016,239,2016,0.547945,56.2
1080,2016-07-24 00:00:00+00:00,2016,242,2016,0.942466,78.5
1081,2016-03-31 00:00:00+00:00,2016,243,2016,0.572603,59.8
1082,2016-08-20 00:00:00+00:00,2016,243,2016,0.849315,74.7
1083,2016-06-11 00:00:00+00:00,2016,244,2016,0.991781,82.4
1084,2016-09-18 00:00:00+00:00,2016,244,2016,0.720548,69.1
1085,2016-07-30 00:00:00+00:00,2016,245,2016,0.791781,72.3
1086,2016-09-25 00:00:00+00:00,2016,247,2016,0.769863,71.7
1087,2016-06-26 00:00:00+00:00,2016,247,2016,0.983562,81.3
1088,2016-09-24 00:00:00+00:00,2016,247,2016,0.698630,68.5
1089,2016-08-21 00:00:00+00:00,2016,249,2016,0.660274,66.4
1090,2016-05-08 00:00:00+00:00,2016,249,2016,0.517808,55.0
1091,2016-10-16 00:00:00+00:00,2016,250,2016,0.698630,68.5
1092,2016-06-12 00:00:00+00:00,2016,252,2016,0.761644,71.4
1093,2016-08-14 00:00:00+00:00,2016,253,2016,0.895890,76.7
1094,2016-06-04 00:00:00+00:00,2016,253,2016,0.709589,68.8
1095,2016-08-28 00:00:00+00:00,2016,255,2016,0.906849,76.9

In [ ]:
ax = merged_data.plot(kind='line', x='avg_temp', y='rides', figsize=(15,7))
ax.set_title('Count of Births by Gestation Weeks')
ax.set_xlabel('temperature')
ax.set_ylabel('ride count');